/*
* reset
* common
* page
* hack
*/

/* reset s */
html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, p, blockquote, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary { -webkit-tap-highlight-color:rgba(0,0,0,0); margin: 0; padding: 0;}
section, article, aside, header, footer, nav, dialog, figure { display: block; }
ol, ul, li { list-style: none; }
img, iframe, fieldset { border: none; }
button, input, select, textarea { -webkit-user-select:text;}
textarea{resize: none;}
:focus{ outline:none;}
/* reset e */

/* common s */
html,body{ min-height:100%;}
/*body*/
body {-webkit-user-select:none; -webkit-text-size-adjust:none; color:#fff; font-size:100%;background:none; font-family:"microsoft yahei";} 
/*link*/
a,a:visited{ text-decoration:none; outline:none;color:#fff;}
/*定位*/
.posr{ position:relative;}
/*文字*/
@font-face {font-family: 'MyFont';src: url('font/MFShangHei_Noncommercial-Regular.otf');}
/*对齐*/
.tal{ text-align:left;}
.tac{ text-align:center;}
.tar{ text-align:right;}
/*超出隐藏*/
.ov{ overflow:hidden;}
/*按钮*/
/*白底蓝字*/
.btncom,a.btncom{ font-size:0.875em; font-weight:bold; padding:0 10px; display:inline-block; color:#00479d; background:#fff; height:30px; line-height:30px; box-shadow:-1px -3px 2px rgba(0,0,0,0.6); position:relative;}
/*蓝底白字*/
.btncom2,a.btncom2{font-size:0.875em; font-weight:bold; padding:0 10px; display:inline-block; color:#fff; background:#00479d; height:30px; line-height:30px; box-shadow:-1px -3px 2px rgba(0,0,0,0.6); position:relative;}
/*上传图片*/
.uploadbtn,a.uploadbtn{ padding-left:20px;}
.uploadbtn:after{ content:"+"; position:absolute; top:0; left:8px; display:block; float:left;font-size: 16px;height: 30px;line-height: 30px;}
/*.uploadbtn,a.uploadbtn{ padding-left:10px;}
.uploadbtn:before{ content:"+"; position:relative; padding-right:5px;font-size: 16px;height: 30px;line-height: 30px;}*/
.uploadbtn input[type=file]{  position: absolute;top: 0;left: 0;opacity: 0;z-index: 5;width: 100%;height: 100%;}
/*下一页*/
.nextpagebtn{ display:block; background:url(../images/nextPage.png) no-repeat center;width:100%; height:24px; background-size:32px auto; border:none;}
/*输入框*/
.inputcom{ box-sizing:border-box;padding:5px; border-radius:5px; font-size:0.875em; background:#fff; height:30px; border:1px solid #e0e3e4;}
/*圆角*/
.borr-b{ border-radius:20px;}
/*间距*/
.mtb-m{ margin-top:10px; margin-bottom:10px;}
/*遮罩*/
.mask{ position:fixed; width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,0.85); z-index:9;}
/*clear*/
.clear{ clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
/* common e */

/* page s */
/*欢迎页*/
.welcome{min-height:100%;background-image: -webkit-radial-gradient(#4ac0f8,#00307c);background-image: radial-gradient(#4ac0f8,#00307c);}
.welcome .bg{ position:absolute;width: 100%; height: 100%;background:url(../images/snowMuntain.png) left bottom no-repeat; background-size:100% auto; }
/*.welcome .cont{ position:relative; z-index:1;display: -webkit-box;  -webkit-box-orient: vertical;overflow:hidden; height:100%;}
.welcome .logowrap{ margin:15px 0 0 15px; height:30px;}
.welcome .logo{ background:url(../images/logo.png) no-repeat; background-size:100px auto;width:100px;text-indent: -9999em; float:left;margin:4px 0 0 13px}
.welcome .logo2{text-indent: -9999em; background:url(../images/logo2.png) no-repeat; background-size:72px auto;width:72px; float:left;}
.welcome .tips{ color:#00479d; text-align:center; font-size:0.750em; margin-bottom:40px;}
.welcome .tips .bold{font-size:1.167em;}
.welcome .path{padding:0px 20px 50px;-webkit-box-flex: 1;overflow:auto;}*/

.welcome .cont{position:relative; z-index:1;overflow:hidden; height:100%;}
.welcome .logowrap{ position:absolute; top:0; left:0; margin:15px 0 0 15px;width:100%;}
.welcome .logo{ background:url(../images/logo.png) no-repeat; background-size:100px auto;width:100px;text-indent: -9999em; float:left;margin:4px 0 0 13px}
.welcome .logo2{text-indent: -9999em; background:url(../images/logo2.png) no-repeat; background-size:72px auto;width:72px; float:left;}
.welcome .tips{ color:#00479d; text-align:center; font-size:0.750em; margin-bottom:40px;}
.welcome .tips .bold{font-size:1.167em;}
.welcome .path{padding:10px 20px 50px;-webkit-box-flex: 1;overflow:auto;}
.webkit-box{display: -webkit-box; -webkit-box-orient: vertical; height:100%;}
  
/*主页*/
/*背景图片轮播*/
.bgSlider{position:absolute;width: 100%; height: 100%;background:-webkit-gradient(linear,0 0,0 100%,from(#090f3d),to(#2690d4)); overflow:hidden;}
.bgSlider .bgwrap{ height:15px; overflow:hidden; position: absolute;bottom: 0;width: 100%;}
.bgSlider .bg{ background:#db290a; width:80%;height:30px;left:10%; position:absolute;top:0;border-radius:100%; }
.bgSlider .img li{background-size:cover;float:left;position:absolute;width: 100%; height: 100%;top:0;left:0;}
.bgSlider .one{ background:url(../images/climber3.png);/*实现图片不变形，需要去掉上面的cover，这里设置backgroud-size:100% auto；其他空白地方使用渐变颜色填充*/}
.bgSlider .two{}
.bgSlider .three{}

.bgSlider .num{width:56px; position:absolute; bottom:20px; left:50%; margin-left:-28px;}
.bgSlider .num li{ float:left; background:#6f99cb;width:10px; height:10px; text-indent:-9999em; border-radius:50%;-webkit-border-radius:50%; margin:4px;}
.num li:hover,.num li.hover{ background:#00439b;}


/*导航*/
.index .nav{ position:relative; z-index:2;}
.index .nav li{width:33.3%; float:left; text-align:center;margin:10px auto 15px;overflow:hidden;}
.index .nav a{ display:block;}
.nav .title{font-size:1em; font-weight:normal;margin-bottom: 2px;}
.nav .des{ font-size:0.75em; white-space:nowrap; overflow:hidden;text-overflow: ellipsis;}
.nav .icon{display:inline-block; width:72px; height:60px;background:url(../images/navIcon.png) no-repeat; background-size:cover;}
.nav .invitation{ background-position:2px 0;}
.nav .game{background-position:6px -60px;}
.nav .test{background-position:13px -144px;}
.nav .news{background-position:8px -208px;}
.nav .creative{background-position:6px -282px;}
.nav .gifts{background-position:13px -360px;}
.nav .beautyView{background-position:6px -430px;}

.container{background-image: -webkit-radial-gradient(#00a0e9,#00307c);background-image: radial-gradient(#00a0e9,#00307c);}
/*自己生成图片*/
.createpic{}
.picset{margin:20px 35px 0; position:relative;box-shadow: 2px 2px 8px rgba(0,0,0,0.5),-2px -2px 8px rgba(0,0,0,0.5);}
.picset .cont{padding:10px;  position:relative; z-index:1;background:#efefef;}
.picset:after{content:" "; position:absolute; top:-1px;left:-1px;width:100%; height:100%;z-index:0;padding:1px 1px 2px; background:rgba(0,0,0,0.3);-webkit-transform: rotate(-2deg);}
/*公共*/
.picshow{ position:relative;}
.beauty span{ position:absolute; display:inline-block;}
.picshow .figure img{width:100%; vertical-align:middle;}
.picshow .beauty{ position:absolute; z-index:5;  width: 100%; height: 100%;left: 0;top: 0;}
/*模板1*/
.model1 .beauty .logo{background:url(../images/logo.png) no-repeat; background-size:100px auto;width:100px; height:30px; top:5px; left:5px;}
.model1 .beauty .text{background:url(../images/model1text.png) no-repeat left bottom; background-size:32px auto;width:32px; height:100%; bottom:-2px; right:0px;}
/*模板2*/
.model2 .beauty .logo{background:url(../images/logo.png) no-repeat; background-size:100px auto;width:100px; height:30px; top:5px; left:5px;}
.model2 .beauty .text{background:url(../images/model2text.png) no-repeat center bottom;background-size:100% auto;width:100%; height:100%; left:0; bottom:0px;}

.picset .textarea{box-sizing:border-box;margin:4px 0 0; font-family:"MyFont";width:100%; border:1px dashed #dcdcdc; background:#fff;}
.picset .textarea textarea,.picset .textarea input{box-sizing:border-box; background:none; border:none;font-family:"MyFont";font-size:14px;color:#3e3a39;line-height:20px;box-sizing:border-box; }
.picset  .speacil{ position:absolute; left:5px; color:#df0615; font-size:14px; font-weight:bold; text-decoration:underline;}

.picset .inputname{ display:-webkit-box;}
.textarea input{ margin-left:40px; display:block; -webkit-box-flex: 1;  margin-top: 2px;}
.inputname .speacil{top: 4px;}

.textarea textarea{text-indent: 2.5em;padding:5px;width: 100%; height:46px;}
.inputntext .speacil{top:28px;}

.picset .textarea .text{text-indent: 2.5em;display: inline-block;color: #3e3a39;font-size: 14px;padding:5px 5px 5px;word-break: break-all;}
.picset  .inputntext  .text{ padding-top:0px;position: relative;top: -1px;}
/*签名*/
.signature{ float:right; text-align:center; width:60px; overflow:hidden; text-align:center;}
.signature .name{ color:#b5b5b6;-webkit-transform: rotate(-10deg); display:block; font-size:0.75em;height:30px; overflow:hidden;white-space: nowrap;}
.signature .line{ position:absolute; bottom:0; right:0;width:60px; height:35px;background:url(../images/signature.png) no-repeat left bottom;  background-size: 100%,auto;}

.seleectmodel{margin:20px 35px}
.seleectmodel ul{ position:relative; overflow:hidden; padding:5px;}
.seleectmodel li{ position:relative; float:left;width:33.3%;/* box-shadow:2px 2px 8px rgba(0,0,0,0.5),-2px -2px 8px rgba(0,0,0,0.5) */}
.seleectmodel .title{ box-shadow:none; font-size:0.75em; text-align:center; background:url(../images/tit.png) no-repeat center;background-size: contain;margin: 15px 5px 0;width:28%;}
.seleectmodel li a{ display:block/*;background:#efefef; padding:3px 0 0 3px;position: relative;z-index: 1;*/}
.seleectmodel .mod2{ float:right;}
.seleectmodel img{ max-width:100%; height:auto;}
/*.seleectmodel .mod1:after,.seleectmodel .mod2:after{content:" "; position:absolute; top:-1px;left:-1px;width:100%; height:100%;z-index:0;padding:1px 1px 2px; background:rgba(255,255,255,0.5);-webkit-transform: rotate(-2deg);}*/

.createpic .allbg{/*  position: fixed;width: 100%;bottom: 0;*/ position:relative;}
.createpic .botbgwrap{ height:90px;overflow:hidden;  padding-top: 2px; }
.allbg .bottle{ position:absolute;bottom:40px;left:50%; margin-left:-36px; content:" "; width:80px; height:110px;  z-index:1;background:url(../images/bottle.png) no-repeat center;background-size: auto 110px;}
.createpic .botbg{ background:#9fd9f6; width:90%; border-radius:50%; height:200px; margin:0 auto; box-shadow:1px 1px 2px rgba(0,0,0,0.5),-1px -1px 2px rgba(0,0,0,0.5);}
.createpic .postbtn{ position:absolute;bottom:8px;z-index: 2;width:112px; left:50%; margin-left:-66px;}


/*进入主页过程1*/
.enterindex {padding:0 0 10px;}
.enterindex .banner{ background:#fff; overflow:hidden;}
.banner .imgslider{ padding:12px 12px 0;min-height:104px;overflow:hidden; position:relative;}
.imgslider li{ float:left; }
.imgslider img{ max-width:100%; vertical-align:middle;}
.imgslider .btn{position:absolute;top:12px; display:block; height:104px; line-height:104px;width:30%; font-size:1.875em; }
.imgslider .btn.prev{ left:12px;padding-left:5px;}
.imgslider .btn.next{ right:12px;padding-right:5px;text-align: right;}
/*进度条*/
/*.progressbar {overflow: hidden;padding-bottom: 10px;}
.progressbar li{ float:left; border-top:2px solid #f4a7ac; color:#f4a7ac; position:relative; margin-top:22px; text-align:center; font-size:0.75em;}
.progressbar .num{ display:block; position:absolute; top:-22px; width:100%;}
.progressbar .local{ display:block;max-width:48px;padding: 0 3px;}
.progressbar li:after{ content:" "; position:absolute;width:6px; height:6px; background:#f4a7ac; border-radius:50%;top:-4px; left:50%; margin-left:-3px;}
.progressbar .hover,.progressbar li:hover{color:#df0615;border-top:2px solid #df0615;}
.progressbar li.hover:after,.progressbar li:hover:after{ background:#df0615;}*/

.progrs{position:relative; /*height:48px;*/}
.progrs img{ max-width:100%; vertical-align:middle; padding:10px 0;}
.progrs:after{ position:absolute; content:" "; top:0; right:0; background:rgba(255,255,255,0.55);width:100%; height:100%;}
/*阶段*/
.progrs.start:after{width:90%;}
.progrs.one:after{width:82%;}
.progrs.two:after{width:74%;}
.progrs.three:after{width:66%;}
.progrs.four:after{width:57%;}
.progrs.five:after{width:50%;}
.progrs.six:after{width:42%;}
.progrs.seven:after{width:34%;}
.progrs.eight:after{width:26%;}
.progrs.nine:after{width:18%;}
.progrs.ten:after{width:10%;}
.progrs.eleven:after{width:0;}
.progrs.end:after{width:0%;}

/*图片列表*/
.imglist li{width:31%; float:left; padding:10px 0 10px 6px; border-bottom:1px solid #fff; }
.imglist li:nth-child(1){ margin-left:6px; padding-left:0;}
/*.imglist li:nth-last-child(1),.imglist li:nth-last-child(2),.imglist li:nth-last-child(3)*/
.imglist li.noborder{ border-bottom:none;}
.imglist li>a{ position:relative; box-shadow:2px 2px 5px rgba(0,0,0,0.2),-2px -2px 5px rgba(0,0,0,0.2);display:block;}
.imglist figure{ overflow:hidden; height:103px;padding:3px 3px 0;background:#efefef; position:relative; z-index:1; text-align:center;}
.imglist li>a:after{ content:" "; position:absolute; top:-1px; left:-1px;width:100%; height:100%;z-index:0;padding:1px 1px 2px; background:rgba(0,0,0,0.3);-webkit-transform: rotate(-2deg);}
/*.imglist .text{ font-size:0.75em;}
.imglist .text p{ height:34px; overflow:hidden;}
.imglist .bold{ color:#df0615;}*/
.imglist li img{ max-width:100%;height:100px; overflow:hidden; vertical-align:middle; position:relative; z-index:1;}
.imglist li.add .tips{  font-size: 12px;white-space: nowrap; height: 26px;  overflow: hidden; line-height:26px; text-align:center; text-overflow: ellipsis;}
.imglist li.add .signature{ visibility:hidden;}
.imglist .uploadimg{  position: absolute;top: 0;left: 0;opacity: 0;z-index:5;width: 100%;
  height: 100%;}
/*.imglist li.add .figure{ height:126px;}*/
.imglist .picshow { position:relative; z-index:1; background:#efefef; overflow:hidden;}
/*模板1*/
.imglist .model1 .beauty .logo{ background-size:40px auto;width:40px;}
.imglist .model1 .beauty .text{background-size:14px auto;width:14px;right:3px;bottom: 2px;}
/*模板2*/
.imglist .model2 .beauty .logo{ background-size:40px auto;width:40px;}
.imglist .model2 .beauty .text{ bottom:3px;width:95%; left:3px;}
/*签名*/
.imglist .signature{width:46px;}
.imglist .signature .name{height: 24px;}
.imglist .signature .line{  width: 46px;height: 35px;}

.actions a{ display:block;width:49.9%; float:left; overflow:hidden; text-overflow: ellipsis;white-space: nowrap;text-decoration:underline; font-size:0.75em; padding:5px 0; text-align:center; height:16px;}
/*.imglist .actions {display:-webkit-box;}
.imglist .actions a{ font-size:0.75em; margin:5px 0;  -webkit-box-flex: 1;}*/
.actions .icon{  display:inline-block;width:16px; height:14px;vertical-align: bottom;margin: 0 2px; }
.fav .icon{background:url(../images/fav.png) no-repeat;background-size:cover;}
.share .icon{background:url(../images/share.png) no-repeat;background-size:cover;}
.buttons .btncom{ margin:0 10px;}
.enterindex .buttons,#back{ background:url(../images/buttonBac.png) no-repeat; background-size:cover;padding:10px;}
/*进入主页过程2*/

/*详情页面*/
.imgdetail .actions { font-size:24px; overflow:hidden;width:60%; margin:0 auto;}
.imgdetail .actions .icon{width:24px; height:21px;}
.imgdetail  .actions a{ height:auto;}
.imgdetail.createpic .botbgwrap{padding-top: 30px;}
.imgdetail .allbg .bottle{ bottom:0px;}
.imgdetail .btngroup{ position:absolute;bottom: 20px; z-index: 2;width:100%;}
.imgdetail .btngroup ul{ overflow:hidden; width:80%; margin:0 auto;}
.imgdetail .btngroup li{width:50%; float:left; text-align:center;}
/*.createpic.imgdetail .scrollfix6{  position: fixed;width: 100%;bottom: 0;}*/
/*一个按钮*/
.imgdetail.createpic .onebtn .bottle{bottom:40px;}
.ontbtngroup{position:absolute;bottom:8px;z-index: 2;width:86px; left:50%; margin-left:-43px;}

/*裁剪图片*/
.clipimg{}
.clipimg h6{ text-align:center; font-size:1.125em; /*margin:25px 0 10px;*/ font-weight:normal; position:fixed;width:100%;height:50px; line-height:60px;z-index:2;}
.clipimg .clipwrap{/*width:80%;*/width:100%;text-align:center; position:absolute;top:50px;bottom:50px; left:0;right:0; overflow:hidden;}
/*.clipwrap .figure{ display:block;}*/
.clipwrap .figure figure{display:inline-block;text-align:center; vertical-align:middle; font-size:155px;min-height:250px;min-width:250px;background-color: rgba(0,0,0,0.5);}
.clipwrap img{ /*max-width:250px; max-height:330px;*/max-width:100%;vertical-align:middle; }
.clipwrap .area{ position:absolute;width:250px;height:250px;top:50%; left:50%; margin:-125px 0 0 -125px; background:url(../images/clip.png) no-repeat; background-size:cover;pointer-events: none;}
.clipwrap .showareaimg{position:absolute;width:250px;height:250px;top:50%; left:50%; margin:-125px 0 0 -125px; background:red;}
.clipimg .btngroup{ position:fixed;width:100%; bottom:10px;}
.clipimg .btngroup ul{width:80%; margin:0 auto; overflow:hidden;}
.clipimg .btngroup li{ float:left; width:49.9%; text-align:center;}
.clipimg .btngroup .btncom{width:70px; box-shadow:inset 0px 1px 2px rgba(0,0,0,0.6);}
.clipimg .posimg{  display: table;width: 100%;height: 100%;}
.clipimg .figure{  display: table-cell;vertical-align: middle;}
/*弹出层*/
.rulepop{ position:absolute; top:0; left:0; width:100%; z-index:10;}
.rulepop .cont{width:90%; margin:20px auto 0;}
.rulepop .tit{ background:url(../images/poptit.png) no-repeat center; color:#000; background-size:auto 40px; height:40px; font-weight:normal;font-size:1.125em;   text-align:center;}
.rulepop .text.tac{width:80%; margin:5px auto;}
.rulepop .text{ font-size:0.875em; line-height:20px; margin:3px auto;}
.rulepop .inputgroup {/*width:90%;*/width:80%; margin:20px auto 0; overflow:hidden;}
.inputgroup li{ /*float:left;width:49.9%;*/ margin:0px 0 10px;}
.rulepop .inputgroup .inputcom{width:70%; margin-left:2px;}
.rulepop .enterbtn{ background:#df0615; font-size:0.875em; height:30px; line-height:30px; display:inline-block; padding:0 10px; margin:10px auto 0;}
.rulepop img{ max-width:100%; text-align:center; vertical-align:middle;}
/* page e */


/* hack s */
/*iphone6,iphone6 plus*/
@media only screen and (min-width: 374px) {
	.welcome .logo{background-size:110px auto;width: 110px;}
	.welcome .logo2{background-size:82px auto;width:82px;}
	.welcome .tips{font-size:0.875em;  margin-bottom: 50px;}
	
	/*.nav .des{font-size:0.875em; }*/
	.imglist li{padding:10px 0 10px 7px;}
    .imglist li:nth-child(1){ margin-left:7px;}
	
	.picset .textarea textarea, .picset .textarea input,.picset .textarea .speacil,.picset .textarea .text{ font-size:18px;}
	.picset textarea,.picset input{ position:relative;top:2px;}
	.picset .textarea input{ margin-left:50px;}
	
	/*.picset .textarea .speacil{top:7px;}*/
	.createpic .botbgwrap{ height:100px;}
	.seleectmodel .title{ font-size:0.875em;}
	.createpic.imgdetail .scrollfix6{  position: fixed;width: 100%;bottom: 0;}
} 

#wrapper{top:154px;}
/*iphone6*/
@media only screen and (min-width: 374px) { #wrapper {top:175px;}}
/*iphone6 plus*/
@media only screen and (min-width: 413px) {#wrapper{top:191px;}}

/* hack e */
   #wrapper {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller-pullDown,#scroller-pullUp {
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    color: #888;
    text-align:center;
    position:absolute;
    left:0px;
    width:100%;
}
#scroller-pullDown{
    top:-40px;
}
#scroller-pullUp{
    bottom:-40px;
}

#scroller-pullDown .pull-up-msg,#scroller-pullUp .pull-down-msg {
    padding-left:20px;
}

#scroller-pullDown .pull-down-icon,#scroller-pullUp .pull-up-icon{
    display:inline-block;
    color:#f00;
    font-size:1.4;
    -webkit-transform:rotate(0deg);
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 500ms;
}
#scroller-pullDown .pull-down-icon.reverse_icon,#scroller-pullUp .pull-up-icon.reverse_icon{
    -webkit-transform: rotate(-180deg);
}

#back{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    display:none;
    z-index:100;
}

#cropimg,#chooseTemplate,#detail{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index:101;
}
.cropper-drag-box.cropper-modal.cropper-move{
  position:fixed;
}

#share{
	display: none;
	z-index: 10001;
    position: absolute;
    height: 100%;
    width: 100%;
}
.share-mask{
	position: absolute;
	width: 100%;
	height:100%;
	left:0;
	top:0;
	z-index:20001;
	background-image: url(../images/share-mask.png);
	background-repeat: no-repeat;
	background-position: top right;
	background-size:contain;
	
}







